/* gh-theme-2023.css */
/* @theme gh-theme-2023 */

@import 'default';

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/inter-v12-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/roboto-mono-v22-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/roboto-mono-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/roboto-mono-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

section {
  font-family: 'Inter', sans-serif;
  color: #000; 
}

section.invert {
    color: #fff;
}

footer {
  height: 3px;
  font-size: 20;
  left: -20px;
  width: 102%;
  background-color: 1px solid pink;
  background: linear-gradient(to right, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%);;
  
} 

img[alt~="hubber"] {
  border-radius: 20%;
  margin-right: 20px;
  border: 1.5px solid white;
}

.center-hubber > p {
  display: inline-block;
  align-items: center;
}
.hubber-title {
  font-size: 1em;
  font-weight: 300;
  color: gray
}

.center-hubber{
  margin-top: 30px;
  border: 0 !important;
}


li {
  margin: 0;
  padding: 20px 0 20px 84px;
  list-style: none;
}

.gradient-pink-to-green {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%);
  border-radius: .8em;
}

.gradient-pink-to-green-short {
  margin-top: 3px;
  width: 45%;
  height: 0.5px;
  background: linear-gradient(to right, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%);
  opacity: 0.5;
}

h1, h2 {
 border-bottom: 3px solid pink;
 border-image: linear-gradient(to right, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%) 10;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.agenda h1, .columns h1 {
  border: none;
}

.new-list{
  align-items: center;
}

.new-list h2{
  padding: 8px;
  border: 2px solid white;
  font-family: 'Roboto mono', sans-serif;
  text-decoration: normal;
  font-weight: normal;
  border-radius: 10px;
  font-size: 1em;    
  float: left;
  margin-right: 1rem;
  margin-left: 20px;
  width: 8em;
  text-align: center;
  border-radius: 35px;

}

.new-list ul{
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  list-style: none;
  margin: 0;
  max-width: 70%;
  float: left;
  margin-right: 5px;
  padding-right: 20px;
}

.agenda{
  display: grid;
  grid-template-columns:  auto minmax(0, 1fr);
  gap: 1rem;
}
.agenda li {
  font-size: 0.9em;
  margin: 0;
  padding: 15px 0 10px 84px;
}

.agenda h1{
  padding: 15px;
  border: 2px solid white;
  font-weight: 300;
  border-radius: 10px;
  font-size: 1.2em;
  /* margin-top: 140px; */
  
}

.agenda > div:first-child {
  border-right: 3px solid pink;
  border-image: linear-gradient(to bottom, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%) 10;
  padding-right: 4rem;
}
.agenda > div:first-child, .columns > div:first-child {
  border-right: 3px solid pink;
  border-image: linear-gradient(to bottom, #FE7A73 0%, #EB7BC6 25%,#44ADD1 75%, #54D165 100%) 10;
}
